.editor {
  padding-bottom: 120px;
  @media (min-width: 481px) {
    margin-bottom: 160px;
  }
  @media (min-width: 993px) {
    margin-bottom: 70px;
  }
  &__title {
    @include font(28, #635c73, 26, 700);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
    @media (min-width: 481px) {
      @include font(42, #635c73, 42, 700);
      margin-bottom: 33px;
    }
    @media (min-width: 993px) {
      @include font(54, #635c73, 54, 700);
      margin-bottom: 35px;
    }
  }
  &__content {
    @include font(20, $dark-text-color, 14);
    text-align: center;
    margin-bottom: 36px;
    @media (min-width: 481px) {
      @include font(32, $dark-text-color, 20);
      margin-bottom: 24px;
    }
    @media (min-width: 993px) {
      margin-bottom: 13px;
    }
  }
}
