.features {
  text-align: center;
  padding-bottom: 6px;
  @media (min-width: 481px) {
    padding-bottom: 0;
  }
  @media (min-width: 993px) {
    padding: 33px 0 94px;
    background-color: #f4f4f4;
  }

  &__title {
    margin-bottom: 36px;
    @include font(38, $accent-color, 32, 700);
    @media (min-width: 481px) {
      margin-bottom: 50px;
      @include font(44, $accent-color, 42, 700);
    }
    @media (min-width: 993px) {
      margin-bottom: 19px;
      @include font(50, $accent-color, 48, 700);
    }
  }

  &__list {
    margin-bottom: 64px;
    @media (min-width: 481px) {
      margin-bottom: 76px;
      text-align: left;
    }
    @media (min-width: 993px) {
      margin-bottom: 0;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 38px;
    @media (min-width: 481px) {
      margin-bottom: 61px;
    }
    @media (min-width: 993px) {
      margin-bottom: 35px;
    }
  }
  &__item-title {
    margin-bottom: 14px;
    @include font(16, $dark-text-color);
    @media (min-width: 481px) {
      margin-bottom: 17px;
      @include font(21, $dark-text-color, 16);
    }
  }
  &__item-title::before {
    content: "";
    display: block;
    margin-bottom: 27px;
    height: 76px;
    width: 76px;
    border: 3px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto 20px;
    background-image: url(./dist/img/features/svg/circle-icon.svg);
    @media (min-width: 481px) {
      display: inline-block;
      margin: 0 23px 0 0;
    }
  }

  &__content {
    @include font(21, $mid-text-color, 14);
    font-family: $descr-font-fam;
    @media (min-width: 481px) {
      @include font(21, $mid-text-color, 14);
      font-family: $main-font-fam;
    }
  }
}
