* {
   box-sizing: border-box;
}

body {
   font-family: $main-font-fam;
}

//контейнер увеличен на ширину падингов
.container {
   max-width: 1220px;
   min-width: 320px;
   padding: 0 10px;
   margin: 0 auto;
}
