@mixin font($lh, $color, $fz: "16", $fw: "400") {
  line-height: $lh * 1px;
  font-size: $fz * 1px;
  color: $color;
  font-weight: $fw;
}

@mixin btn-styles($bg-color, $text-color, $fw: "400", $border-rad: 40px) {
  background-color: $bg-color;
  color: $text-color;
  font-weight: $fw;
  border-radius: $border-rad;
  transition: 0.3s;
}