%btn-hover {
  color: $accent-color;
  background-color: $light-text-color;
  border: 1px solid $accent-color;
}

%github-counter-link {
  padding: 3px 12px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);
  vertical-align: middle;
}
